@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
  font-family: 'Open Sans', sans-serif;
}

.demo-examples-page {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  min-height: 80vh;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 900;
}

.demo-examples-page header.page-header {
  padding: 50px 15px;
}

.demo-examples-page header.page-header .description {
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  border-radius: 15px;
  text-align: center;
  padding: 15px 25px;
  background: #F8FAFB;
  color: #515151;
  -webkit-box-shadow: 0px 6px 18px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 18px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 18px -6px rgba(0,0,0,0.75);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  border-style: none;
  cursor: pointer;
  border: 2px solid #EAF2EF;
}

.btn:hover {
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.75);
  opacity: 0.94;
}

.btn.btn-github {
  color: #fafafa;
  background: #333;
  border: 2px solid #333;
}

.btn-default {
  border-color: #EAF2EF;
}

.btn-gold {
  background: #e2b72d;
  border-color: #e2b72d;
}

.btn-blue {
  background: #0450D7;
  border-color: #004EBF;
  color: #fff;
}

.text-center {
  text-align: center;
}

.demo-examples-page header.page-header .links {
  margin-top: 50px;
  margin-bottom: 30px;
}

section.section-1 {
  border-top: 2px solid #F8FAFB;
  padding-bottom: 50px;
}

section .description {
  text-align: left;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.styled-code code,
code.styled-code {
  padding: 2px 5px;
  background: #f2f2f2;
  border-radius: 3px;
}
